* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: goldenrod;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#board {
    border: 3px solid black; /* Added 'solid black' to define the border */
    background-color: beige;
    border-radius: 10px;
}
