body{
    background-image: url(https://www.hdwallpapers.in/download/silver_range_rover_velar_r_dynamic_p400e_2020_2_4k_hd_cars-HD.jpg);
    background-size: cover;
}

.img{
    height: 2cm;
    width: 1cm;
    display: flex;
}

.lineup{
    display: flex;
    flex-direction: row-reverse;
    padding-left: 2cm;
}

.lineup a{
    font-weight: bolder;
}

.title {
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
    padding-left: 20cm;
    width: 50%;
    margin-top: 0.5cm;
}

.title a{
    color: black;
    font-weight: bold;
}